<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/common.js"></script>
    <title>Document</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/nav :: nav}"></div>
<div class="main-container">
    <div class="main">
        <div class="main-content mt-3">
            <div class="board-header">
                <h1 class="mb-1 cornflowerblue pointer" onclick="goBoardList()">자유게시판</h1>
                <hr class="mb-1 hr">
            </div>
            <form>
                <div class="board-write-body">
                    <input type="hidden" id="id" name="id" th:value="${board.id}">
                    <div class="mb-05"><span th:text="${board.title}" class="bold"></span></div>
                    <div class="writer-date-view mb-1">
                        <span th:text="${board.userId}"></span>
                        <span class="ml-05 mr-05">|</span>
                        <span th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <span class="ml-auto">조회 [[${board.viewCount}]]</span>
                        <span class="ml-05 mr-05">|</span>
                        <span>추천&nbsp;</span>
                        <span class="likeCount" th:text="${board.likeCount}"></span>
                    </div>
                    <input type="hidden" id="userId" name="userId" value="admin">
                    <hr class="hr2 mb-1">
                    <div class="content-view" th:utext="${board.content}"></div>
                    <div class="flex-center">
                        <button type="button"
                                id="likeButton"
                                class="like-button"
                                th:classappend="${liked} ? ' liked' : ''"
                                onclick="toggleLike()">

                            <span class="heart">❤</span>
                            <span class="likeCount" th:text="${board.likeCount}"></span>
                        </button>
                    </div>
                </div>
            </form>
            <div th:if="${session.loginUser != null and session.loginUser.username == board.userId}" class="board-footer">
                <button type="button" class="update-button mr-05" th:onclick="|updateBoardById('${board.id}')|">수정</button>
                <button type="button" class="delete-button mr-05" th:onclick="|deleteBoardById('${board.id}')|">삭제</button>
            </div>
            <hr class="mt-1 hr mb-1">
            <div id="commentList"></div>
            <div class="comment-write">
                <textarea class="commentContent" placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 제재를 받을 수 있습니다."></textarea>
                <div style="display: flex; justify-content: end;"><button type="button" class="execute-button mr-05" onclick="writeComment()">등록</button></div>
            </div>
            <hr class="mt-1 hr">
        </div>
    </div>
</div>
<div class="main-content mt-10">
    <div th:replace="~{fragments/boardList :: boardList}"></div>
</div>
</body>
</html>