<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/common.js"></script>
    <title>Document</title>
</head>
<body>
<div th:replace="~{fragments/fragments :: header}"></div>
<div class="main-container">
    <div th:replace="~{fragments/fragments :: nav}"></div>
    <div class="main">
        <div class="main-content mt-3">
            <div class="board-header">
                <h1 class="mb-1 cornflowerblue pointer" onclick="goBoardList()">자유게시판</h1>
                <hr class="mb-1 hr">
            </div>
            <form>
                <div class="board-write-body">
                    <input type="hidden" id="id" name="id" th:value="${board.id}">
                    <div class="mb-05"><span th:text="${board.title}" class="bold"></span></div>
                    <div class="writer-date-view mb-1">
                        <span th:text="${board.userId}"></span>
                        <span class="ml-05 mr-05">|</span>
                        <span th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <span class="ml-auto">조회 [[${board.viewCount}]]</span>
                    </div>
                    <input type="hidden" id="userId" name="userId" value="admin">
                    <hr class="hr2 mb-1">
                    <div class="content-view" th:utext="${board.content}"></div>
                </div>
            </form>
            <hr class="mt-1 hr">
            <div th:if="${session.loginUser != null and session.loginUser.username == board.userId}" class="board-footer">
                <button type="button" class="update-button mr-05" th:onclick="|updateBoardById('${board.id}')|">수정</button>
                <button type="button" class="delete-button" th:onclick="|deleteBoardById('${board.id}')|">삭제</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>