* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 3vw;
    height: 95vh;
}

.nav-item {
    width: 3vw;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.nav-item.active {
    background-color: white;
}

.main-container {
    display: flex;
}

.main {
    width: 97vw;
    height: 95vh;
}

.main-content {
    width: 50%;
    height: 85vh;
    margin: 0 auto;
}

.logo {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.login-join-logo {
    width: 72px;
    height: 72px;
    cursor: pointer;
}

.nav-icon {
    width: 25px;
    height: 25px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.m-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-3 {
    margin-top: 30px;
}

.mt-10 {
    margin-top: 100px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-10 {
    margin-left: 100px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mr-05 {
    margin-right: 5px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 30px;
}

.lightblue {
    color: lightblue;
}

.pointer {
    cursor: pointer;
}

.basic {
    text-decoration: none;
    color: black;
}

.playwrite-nz-guides-regular {
    font-family: "Playwrite NZ Guides", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

.join-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.input-box {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}

.red {
    color: red;
}

.search-box {
    background-color: white;
    display: flex;
    width: 330px;
    align-items: center;
}

.search-engine {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid black;
}

.board-write-body {
    display: flex;
    flex-direction: column;

}

.board-name {
    height: 2rem;
}

.board-footer {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.execute-button {
    cursor: pointer;
    border: 1px solid gray;
    background-color: cornflowerblue;
    padding: 7px 12px;
    color: white;
}

.undo-button {
    cursor: pointer;
    border: 1px solid gray;
    background-color: lightgray;
    padding: 7px 12px;
    color: white;
}

.t-center {
    text-align: center;
}

.resize-none {
    resize: none;
}

.hr {
    height: 2px; background-color: cornflowerblue; border: 0
}