<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap" rel="stylesheet">
    <script src="/js/common.js"></script>
    <title>Document</title>
</head>
<body>
<div class="header">
    <div onclick="goMain()"><img src="/img/logo.png" class="logo ml-1"></div>
    <div onclick="goMain()">
        <h1 class="ml-1 lightblue pointer">CLOUD</h1>
    </div>
    <div class="ml-auto mr-3">
        <div><a href="/user/login" class="basic">로그인</a> | <a href="/user/join" class="basic">회원가입</a></div>
    </div>
</div>
<div class="nav_container">
    <div class="nav">
        <div onclick="goMain()" class="nav_items">홈</div>
        <div class="nav_items">게시판</div>
    </div>
</div>
<div class="main">
    <h1 class="playwrite-nz-guides-regular">Connect, Share, and Grow</h1>
</div>
<div class="footer">
    ⓒ 2026. CLOUD Co. All rights reserved.
</div>
</body>
</html>