<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/common.js"></script>
    <title>Document</title>
</head>
<body>
<div th:replace="~{fragments/fragments :: header}"></div>
<div class="main-container">
    <div th:replace="~{fragments/fragments :: nav}"></div>
    <div class="main">

    </div>
</div>
</body>
</html>