<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloud.mapper.BoardMapper">
    <select id="selectBoardCount" resultType="Integer">
        SELECT count(*) FROM board
    </select>

    <select id="selectBoardList" resultType="Board">
        SELECT * FROM board ORDER BY id DESC LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectBoardById" resultType="Board">
        SELECT * FROM board WHERE id = #{id}
    </select>

    <!-- useGeneratedKeys: 생성된 PK 가져오기 / keyProperty: Board.id에 넣기 -->
    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (title, content, user_id) VALUES (#{title}, #{content}, #{userId})
    </insert>

    <delete id="deleteBoardById" parameterType="Long">
        DELETE FROM board WHERE id = #{id}
    </delete>

    <update id="updateBoard" parameterType="Board">
        UPDATE board set title = #{title}, content = #{content} WHERE id = #{id}
    </update>

    <update id="updateViewCount">
        UPDATE board set view_count = view_count + 1 WHERE id = #{id}
    </update>

    <select id="existsBoardLike" resultType="int">
        SELECT COUNT(*)
        FROM board_like
        WHERE board_id = #{boardId}
        AND user_id = #{userId}
    </select>

    <insert id="insertBoardLike">
        INSERT INTO board_like (board_id, user_id) VALUES (#{boardId}, #{userId})
    </insert>

    <delete id="deleteBoardLike">
        DELETE FROM board_like
        WHERE board_id = #{boardId}
        AND user_id = #{userId}
    </delete>

    <update id="increaseLikeCount">
        UPDATE board
        SET like_count = like_count + 1
        WHERE id = #{boardId}
    </update>

    <update id="decreaseLikeCount">
        UPDATE board
        SET like_count = like_count - 1
        WHERE id = #{boardId}
        AND like_count > 0
    </update>

    <select id="selectLikeCount" resultType="int">
        SELECT like_count
        FROM board
        WHERE id = #{boardId}
    </select>
</mapper>